@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  80% {
    opacity: 0.8;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  80% {
    opacity: 0.8;
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif; }

.header__text {
  font-weight: 900;
  text-transform: uppercase;
  color: #FFC107; }
  .header__text--main {
    display: block;
    font-size: 6rem;
    letter-spacing: .75rem;
    animation: moveInLeft 1s ease-out;
    text-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5); }
  .header__text--sub {
    display: block;
    font-size: 3rem;
    letter-spacing: .8rem;
    animation: moveInRight 1s ease-out;
    text-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5); }

.heading {
  padding-left: 10rem; }
  .heading__text {
    font-size: 5rem;
    color: #FFC107; }

.paragraph {
  font-size: 1.6rem;
  padding: 0 5rem; }

.portfolio__text {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.8);
  margin: 0 5rem;
  padding: 5rem 0;
  border-radius: .5rem; }
  .portfolio__text--title {
    padding: 0 5rem;
    color: #FFC107;
    font-size: 2.5rem; }

.bg-video {
  position: absolute;
  height: 95vh;
  width: 100%;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 90%;
    object-fit: cover; }

.header {
  position: relative;
  height: 95vh; }
  .header__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.navbar-dark .navbar-nav {
  font-size: 1.6rem;
  padding: 1rem 0; }
  .navbar-dark .navbar-nav .nav-link {
    color: #FFC107;
    padding: 0 2rem; }

.row {
  margin-bottom: 10rem; }

.about {
  position: relative; }
  .about__img {
    position: absolute;
    left: 10rem; }
    .about__img--pic {
      border-radius: 50%; }

.portfolio__img {
  padding: 0 5rem;
  border-radius: .5rem; }
  .portfolio__img--pic {
    width: 100%;
    transition: all .5s; }
    .portfolio__img--pic:hover {
      transform: scale(1.1); }

.knowledge__content {
  margin-left: 10rem; }
  .knowledge__content--logo {
    font-size: 5rem;
    display: block;
    transition: all 1s; }
    .knowledge__content--logo:hover {
      transform: scale(1.5);
      color: #FFC107; }
    .knowledge__content--logo:not(:last-child) {
      margin-bottom: .8rem; }
